@font-face {
  font-family: 'Dulya';
  font-weight: normal;
  src: url('../fonts/Dulya.otf') format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('../fonts/Montserrat-Regular.ttf') format("truetype");
}



@font-face {
  font-family: 'Montserrat';
  font-weight: lighter;
  src: url('../fonts/Montserrat-ExtraLight.ttf') format("truetype");
}
